.hashtags {
  padding-bottom: rem(225px);
  background-image: url('../../img/hash-bottom.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #F5F5FC;
  position: relative;

  @include mobile {
    background-image: none;
  }

  &__bg-bottom {
    position: absolute;
    bottom: 0;
    height: rem(150px);
    width: 100%;
    z-index: 55;
  }


  

  .container {
    position: relative;
  }

  &__title {
    text-align: center;
    margin-bottom: rem(8px);

    @include mobile {
      font-size: rem(32px);
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(50px);
    font-family: $p-font-SF-regular;
    padding: 0 rem(24px);
    border-left: 4px solid #F9BB19;
    border-right: 4px solid #F9BB19;
    width: max-content;

    .bold {
      font-family: $p-font-SF-bold;
    }

    @include mobile {
      font-size: rem(23px);
      width: rem(260px);
      padding: 0 rem(12px);
      margin-bottom: rem(40px);
    }
  }

  &__list {
    display: flex;
    width: max-content;
    position: relative;
    z-index: 2;

    @include mobile {
      flex-direction: column;
        width: 100%;

    }

    .hashtags__decor {
      position: absolute;
      width: rem(209px);
      height: rem(209px);
      right: rem(-20px);
      top: rem(20px);

      @include mobile {
        display: none;
         }


    img {
      width: 100%;
      object-fit: cover;
    }
    }

  }

  &__item {
    width: rem(380px);
    height: rem(412px);

    img {
      width: 100%;
      object-fit: cover;
    }

    @include mobile {
      width: 100%;
      height: rem(400px);

      position: absolute;
      top: 0;

      &._1 {
        top: 0;
      }

      &._2 {
        top: rem(600px);
        z-index: 5;
      }

      &._3 {
        top: rem(800px);
        z-index: 10;
      }
    }
  }

  &__zuc {
    width: rem(227px);
    height: rem(319px);
    position: absolute;
    right: rem(-110px);
    bottom: rem(-150px);
    z-index: 44;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    @include mobile {
   display: none;
    }
  }
}
