.header {
  &__inner {
    display: flex;
    padding-top: rem(52px);
    align-items: center;
  }

  .logo {
    width: rem(197px);
    height: rem(60px);
    margin-right: rem(93px);

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .text {
      font-size: 14px;
      font-family: $p-font-SF-bold;
      width: max-content;
      margin-left: auto;
    }
  }

  .btn {
    margin-left: auto;
  }

  .nav {
    display: flex;

    &__item {
      font-size: 15px;
      margin-right: rem(38px);
      width: max-content;

      &:hover {
        cursor: pointer;
      }
    }

    @include mobile {
      display: none;
    }
  }
}