.hero {
  margin-top: rem(95px);

  @include mobile {
    overflow-x: hidden;
    margin-top: rem(15px);
  }


  &__wrap {
    display: flex;

    @include mobile {
      flex-direction: column;
      position: relative;
    }
  }

  &__left {
    flex-shrink: 0;

    &-top {
      margin-bottom: rem(103px);

      @include mobile {
        margin-bottom: rem(440px);
      }
    }

    .font-60 {
      &._pink {
        width: max-content;
        background-color: $p-pink;
        color: #fff;
        padding: rem(4px) rem(21px);

        @include mobile {
          padding-top: rem(12px);
        }
      }
    }

    &-text-inner {
      display: flex;
      margin-top: rem(12px);
      align-items: center;

      @include mobile {
        align-items: flex-end;
      }

      ._blue {
        background-color: $p-blue;
        color: #fff;
        padding: rem(15px) rem(21px);
        margin-right: rem(22px);

        @include mobile {
          padding: rem(15px) rem(15px);
          margin-right: rem(8px);
        }

      }

      ._arrow {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        span {
          width: rem(32px);
          height: rem(38px);
          background-image: url('../../img/arrow-back.svg');
          background-repeat: no-repeat;
          display: block;
          background-size: contain;
          margin-right: rem(21px);

          @include mobile {
            width: rem(20px);
            height: rem(24px);
          }
        }
      }
    }

    &-links-info {
      display: flex;
      align-items: center;
      margin-top: rem(18px);

      ._links {
        .font-32-g {
          text-transform: uppercase;

          ._blue {
            color: $p-blue;
          }

          ._pink {
            color: $p-pink;
          }
        }

        margin-right: rem(30px);
      }

      ._links-inner {
        display: flex;
        margin-top: rem(18px);
      }
    }

    ._qr {
      width: rem(160px);
      height: rem(160px);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

      }

      @include mobile {
        display: none;
      }
    }

  }

  &__right {
    position: relative;
    right: 0;
    width: 100%;

    @include mobile {
      position: absolute;
      width: rem(375px);
      height: rem(400px);
      bottom: rem(400px);
      width: 100%;
      right: 0;
    }


    div {
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    ._bg-main {
      width: rem(645px);
      height: rem(520px);
      right: rem(-20px);
      bottom: rem(0);

      @include mobile {
        width: 110%;
        height: rem(300px);
        right: rem(-10px);
        top: rem(270px);
        bottom: initial;
      }
    }

    ._bg-dots {
      width: rem(690px);
      height: rem(560px);
      right: rem(-42px);
      bottom: rem(-22px);


      @include mobile {
        width: 125%;
        height: rem(325px);
        right: rem(-30px);
        top: rem(260px);
        bottom: initial;
      }
    }

    ._screen {
      width: rem(279px);
      height: rem(576px);
      bottom: rem(70px);
      right:rem(180px);

      @include mobile {
        width: rem(156px);
        height: rem(323px);
        bottom: rem(-115px);
        right:rem(100px);
      }
    }

    ._left-1 {
      width: rem(75px);
      height: rem(65px);
      top: rem(20px);
      left: rem(200px);

      @include mobile {
        width: rem(40px);
        height: rem(35px);
        left: rem(56px);
        top: rem(200px);
      }
    }

    ._left-2 {
      width: rem(120px);
      height: rem(100px);
      top: rem(150px);
      left: rem(115px);

       
      @include mobile {
        width: rem(64px);
        height: rem(54px);
        left: rem(15px);
        top: rem(310px);
      }
    }

    ._left-3 {
      width: rem(160px);
      height: rem(160px);
      bottom: rem(40px);
      left: rem(90px);

      @include mobile {
        width: rem(80px);
        height: rem(80px);
        left: rem(-30px);
        bottom: rem(-160px);
      }
    }

    ._left-4 {
      width: rem(130px);
      height: rem(130px);
      bottom: rem(90px);
      left: rem(250px);


 
      @include mobile {
        width: rem(70px);
        height: rem(70px);
        left: rem(40px);
        bottom: rem(-120px);
      }
    }

    ._right-1 {
      width: rem(110px);
      height: rem(110px);
      top: rem(-50px);
      right: rem(115px);

      @include mobile {
        width: rem(70px);
        height: rem(70px);
        right: rem(55px);
        top: rem(200px);
      }
    }

    ._right-2 {
      width: rem(73px);
      height: rem(62px);
      right: rem(65px);
      top: rem(80px);

      @include mobile {
        width: rem(45px);
        height: rem(45px);
        right: rem(15px);
        top: rem(300px);
      }
    }

    ._right-3 {
      width: rem(176px);
      height: rem(160px);
      right: rem(-90px);
      top: rem(160px);


      @include mobile {
        width: rem(100px);
        height: rem(100px);
        right: rem(-30px);
        top: rem(350px);
      }
    }

    ._right-4 {
      width: rem(170px);
      height: rem(170px);
      right: rem(110px);
      bottom: rem(10px);

      @include mobile {
        width: rem(100px);
        height: rem(100px);
        bottom: rem(-150px);
        right: rem(20px);
      }
    }
  }
}