.how {
  background-image: url('../../img/how-bg.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: rem(220px) 0;
  position: relative;
  z-index: 77;

  @include mobile {
    background-image: url('../../img/how-bg-mob.svg');
    padding: rem(70px) 0;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;

    }
  }

  &__bg-bottom {
    position: absolute;
    width: 100%;
    height: rem(134px);
    bottom: 0;
    background-image: url('../../img/how-bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: 55;

    @include mobile {
      display: none;
    }
  }

/*   &__screen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(-200px);
  } */

  &__screen-tel {
    width: rem(300px);
    height: rem(660px);
    position: absolute;
    bottom: rem(-180px);
    left: rem(520px);
    z-index: 66;

    @include mobile {
      width: rem(243px);
      height: rem(490px);
      left: 50%;
      transform: translateX(-50%);
      bottom: rem(150px);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__screen-anim {
    width: rem(600px);
    height: rem(600px);
    position: absolute;
    bottom: rem(-330px);
    left: rem(360px);


    @include mobile {
      width: rem(500px);
      height: rem(500px);
      left: rem(-70px);
      bottom: rem(200px);
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list {
    max-width: rem(375px);
    padding-left: rem(20px);

    @include mobile {
      margin-bottom: rem(560px);
    }
  }


  &__list-title {
    color: #fff;
    margin-bottom: rem(32px);

    @include mobile {
      font-size: rem(32px);
      text-align: center;
    }
  }

  &__list-item {
    font-family: $p-font-regular;
    font-size: rem(24px);
    padding: rem(5px) rem(7px);
    background-color: #F6BE2C;
    margin-bottom: rem(8px);
    position: relative;

    @include mobile {
      font-size: rem(18px);
      display: inline-block;
      width: fit-content;
      padding: rem(3px) rem(4px);
      line-height: 130%;
    }

    span {
      position: absolute;
      color: #fff;
      left: rem(-40px);
      top: 0;
      font-size: rem(36px);
      font-family: $p-font-black;

      @include mobile {
        font-size: rem(32px);
        left: rem(-25px);
      }
    }

    &._1 {
      background-color: #d6864a;
    }
    &._2 {
      background-color: #e09841;
    }
    &._3 {
      background-color: #ebac37;
    }
  }

  &__more {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__more-title {
    font-family: $p-font-black;
    font-size: rem(32px);
    margin-bottom: rem(16px);

    @include mobile {
      font-size: rem(23px);
    }
  }

  &__more-btn {
    background-color: #FC0091;
    height: rem(80px);
    width: rem(335px);
    font-size: rem(24px);
    border: 2px solid #fff;
    margin-bottom: rem(12px);

    @include mobile {
      height: rem(44px);
      width: rem(226px);
      font-size: rem(18px);
    }
  }

  &__more-warning {
    font-size: rem(18px);
    color: #d9b1dc;

    @include mobile {
      font-size: rem(13px);
    }
  }
}