.more {
  background-color: #fff;
  background-image: url('../../img/more-bg.svg');
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: 92%;
  padding-bottom: rem(250px);
  position: relative;
  z-index: 77;

  @include mobile {
    padding-top: rem(24px);
    background-image: none;
    padding-bottom: rem(50px);
  }

  .container {
    position: relative;
  }


  @include mobile {
    margin-top: rem(200px);
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(22px);

    @include mobile {
      display: inline;
      font-size: rem(23px);
      font-family: $p-font-regular;
      text-align: center;

    }
 
  }

  &__title {
    text-align: center;
    color: $p-pink;
    margin-bottom: rem(170px);
    width: rem(770px);
    margin-left: auto;
    margin-right: auto;


    @include mobile {
      width: max-content;
      display: inline;
      font-size: rem(23px);
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__title-mob {
    text-align: center;
    display: block;
    font-size: rem(23px);
    

    span {
      font-family: $p-font-SF-black;
      text-transform: uppercase;
      color: $p-pink;
    }
  }

  &__svg {
    height: rem(430px);
    position: absolute;
    right: rem(0px);
    top: rem(240px);

    @include mobile {
      height: rem(170px);
      left: 0;
      top: rem(180px);
    }

    svg, img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__info {
    max-width: rem(650px);
    margin-left: rem(150px);
    font-size: rem(32px);
    font-family: $p-font-SF-regular;
    

    @include mobile {
      padding: rem(14px) rem(22px);
      width: calc(rem(347px) - rem(44px));
      margin-left: 0;
      background-color: #F6BE2C;
      border-radius: rem(28px);
      margin-top: rem(22px);
    }

    ._top {
      max-width: rem(630px);
      margin-bottom: rem(22px);
      line-height: 120%;

      @include mobile {
        font-size: rem(23px);
        width: 100%;
        margin-bottom: rem(200px);
        text-align: center;
      }
    }

    ._bottom {
      font-family: $p-font-SF-black;
      line-height: 120%;

      @include mobile {
        font-size: rem(23px);
        text-align: center;
      }
    }
  }

  .lottie {
    position: absolute;
    width: rem(200px);
    height: rem(200px);
    top: rem(75px);
    right: rem(111px);

    @include mobile {
      width: rem(80px);
      height: rem(80px);
      top: rem(28px);
      right: rem(116px);
    }
  }
}