.reviews {
  padding-top: rem(109px);
  margin-bottom: rem(40px);
  position: relative;
  z-index: 55;
  background-color: #F5F5FC;

  @include mobile {
    padding-bottom: rem(35px);
    margin-bottom: 0;
  }

  .container {
    @include mobile {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: rem(63px);
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    .blue {
      background-color: $p-blue;
      color: #fff;
      padding: rem(4px) rem(8px);
      text-transform: uppercase;
    }
  }

  &__slider {
    height: rem(600px);
    width: rem(1100px);

    @include mobile {
      width: 100%;
    }



  }

  .swiper-wrapper {
/*     width: rem(1186px); */
  }

  .slider__item {
/*     width: rem(170px) !important;
    height: rem(412px) !important; */

    @include mobile {
     /*  width: 76% !important; */
      height: rem(558px) !important;
    }
  }

  .slider__item-name {
    text-align: center;
    font-size: 18px;
    font-family: $p-font-SF-bold;
    margin-bottom: rem(6px);
  }

  .slider__item-info {
    color: #818196;
    font-size: 13px;
        text-align: center;
  }
  .slider__item-video {
    width: 100%;
    height: rem(358px) !important;
    border-radius: rem(23px);
    border: 5px solid #fff;
    overflow: hidden;
    margin-bottom: rem(25px);

    @include mobile {
      width: auto;
      height: rem(490px) !important;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide-active {

    .slider__item-video {
      height: rem(495px) !important;
      transition: all 0.3s ease-in;

      @include mobile {
        width: auto;
        height: rem(490px) !important;
      }
     
    }
  }

  .swiper-slide-next{
    .slider__item-video {
      height: rem(415px) !important;

      @include mobile {
        width: auto;
        height: rem(490px) !important;
      }
    }
   
  }

  .swiper-slide-prev {

    .slider__item-video {
      height: rem(415px) !important;

      @include mobile {
        width: auto;
        height: rem(490px) !important;
      }
    }
  }

  .swiper-button {
    width: rem(64px);
    height: rem(64px);
    position: absolute;

    &::after {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  .swiper-button-next {
    right: rem(40px);
  }

  .swiper-button-prev {
    left: rem(40px);
  }

  .swiper-pagination {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      position: absolute;
      width: max-content;
      margin-left: 50%;
      transform: translateX(-50%);
      bottom: rem(5px);

      .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        background-color: #AFAFD3;
      }

      .swiper-pagination-bullet-active {
        background-color: transparent;
        border: 3px solid #1341B2;
      }
    }
  }
}