.reviews {
  padding-top: rem(109px);
  margin-bottom: rem(40px);
  position: relative;
  z-index: 155;
  background-color: #f5f5fc;
  overflow-x: hidden;

  @include mobile {
    padding-bottom: rem(35px);
    margin-bottom: 0;
    padding-top: rem(24px);
  }

  .container {
    @include mobile {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: rem(63px);
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      width: 80%;
      text-align: center;
      margin-bottom: rem(24px);
    }

    .blue {
      background-color: $p-blue;
      color: #fff;
      padding: rem(4px) rem(8px);
      text-transform: uppercase;
      line-height: 120%;
      padding-top: rem(12px);

      @include mobile {
        font-size: rem(32px);
        line-height: 120%;
        padding-top: rem(8px);
      }
    }
  }
  &__slider {
    height: rem(600px);
    width: rem(1200px);

    @include mobile {
      width: rem(231px);
      overflow: visible;

    }



  }

  .slider__item {
    position: relative;

    &.pause {
      &::before {
        content: '';
        position: absolute;
        width: rem(40px);
        height: rem(40px);
        top: rem(200px);
        right: rem(100px);
        background-color: red;
        z-index: 3;
      }

    } 


    @include mobile {
      width: rem(231px) !important;
      height: rem(558px) !important;
    }

    .decor-left-1 {
      height: rem(19px);
      width: rem(6px);
      border-radius: 2px;
      background-color: #fff;
      position: absolute;
      left: rem(-3px);
      top: rem(71px);
    }

    .decor-left-2 {
      height: rem(47px);
      width: rem(6px);
      border-radius: 2px;
      background-color: #fff;
      position: absolute;
      left: rem(-3px);
      top: rem(104px);
    }

    .decor-left-3{
      height: rem(47px);
      width: rem(6px);
      border-radius: 2px;
      background-color: #fff;
      position: absolute;
      left: rem(-3px);
      top: rem(157px);
    }

    .decor-bottom {
      position: absolute;
      width: rem(79px);
      height: rem(3px);
      background-color: #fff;
      left: 50%;
      transform: translateX(-50%);
      bottom: rem(245px);
      border-radius: 3px;
      z-index: 55;

      @include mobile {
        bottom: rem(75px);
      }
    }

    .decor-right {
      height: rem(77px);
      width: rem(6px);
      border-radius: 2px;
      background-color: #fff;
      position: absolute;
      right: rem(-4px);
      top: rem(127px);
    }
  }

  .slider__item-name {
    text-align: center;
    font-size: 18px;
    font-family: $p-font-SF-bold;
    margin-bottom: rem(6px);
  }

  .slider__item-inner {
    padding-right: rem(10px);
  }

  .slider__item-info {
    color: #818196;
    font-size: 13px;
    text-align: center;
  }
  .slider__item-video {
    width: 100%;
    height: rem(358px) !important;
    border-radius: rem(23px);
    border: 5px solid #fff;
    overflow: hidden;
    margin-bottom: rem(25px);
    position: relative;

    @include mobile {
      width: auto;
      height: rem(490px) !important;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide-active {
    .slider__item-inner {
      /* padding: 0 rem(20px); */
    }
    /* width: rem(250px) !important; */
    .slider__item-video {
      height: rem(450px) !important;
      transition: all 0.3s ease-in;

      @include mobile {
        width: auto;
        height: rem(450px) !important;
      }
    }

    .decor-bottom {
      bottom: rem(155px);
    }
  }

  .swiper-slide-next {
    .slider__item-video {
      height: rem(415px) !important;

      @include mobile {
        width: auto;
        height: rem(490px) !important;
      }
    }

    .decor-bottom {

      bottom: rem(190px);
      @include mobile {
        bottom: rem(75px);
      }

    }


  }

  .swiper-slide-prev {
    .slider__item-video {
      height: rem(415px) !important;

      @include mobile {
        width: auto;
        height: rem(490px) !important;
      }
    }

    .decor-bottom {

      bottom: rem(190px);
      @include mobile {
        bottom: rem(75px);
      }

    }
  }

  .swiper-button {
    width: rem(64px);
    height: rem(64px);
    position: absolute;

    &::after {
      display: none;
    }

    @include mobile {
     /*  display: none; */

     width: rem(45px);
     height: rem(45px);
     top: 96%;
    }

    &:hover {
      rect {
        fill: #1341b2;
      }

      path {
        fill: #fff;
      }
    }
  }

  .swiper-button-next {
    right: rem(40px);

    @include mobile {
      right: 35%;
    }
  }

  .swiper-button-prev {
    left: rem(40px);

    @include mobile {
      left: 35%;
    }
  }

  .swiper-pagination {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      position: absolute;
      width: max-content;
      margin-left: 50%;
      transform: translateX(-50%);
      bottom: rem(5px);

      .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        background-color: #afafd3;
      }

      .swiper-pagination-bullet-active {
        background-color: transparent;
        border: 3px solid #1341b2;
      }
    }
  }
}
