.rocket {
  padding: rem(215px) 0;
  background-image: url('../../img/rocket-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;


  @include mobile {
    background-image: url('../../img/rocket-bg-mob.svg');
    padding: rem(65px) 0;
  }
 

  .container {
    position: relative;
  }

  &__img {
    position: absolute;
    top: rem(150px);
    right: rem(130px);
    width: rem(310px);
    height: rem(600px);

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    @include mobile {
      width: rem(140px);
      height: rem(280px);
      top:rem(85px);
      right: 0;
    }
  }

  &__info {
 
    &-inner {
      max-width: rem(736px);
      text-align: center;
      margin-bottom: rem(50px);

      @include mobile {
        margin-bottom: rem(25px);
        max-width: 100%;
      }


      .font-60 {
        color: #fff;
        line-height: 130%;

        @include mobile {
          font-size: rem(20px);
        }
      }

      .animated {
        padding: rem(8px) rem(21px);
        background-color: #F9BB19;
        color: #202020;

        @include mobile {
          padding: rem(4px) rem(8px);
        }
      }

      .centred {
        display: block;
        margin: 0 auto;
        width: max-content;
      }
    }
  }


  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: rem(590px);

    @include mobile {
      max-width: rem(350px);
      background-image: url('../../img/rocket-bg-list-mob.svg');
      background-repeat: no-repeat;
      background-size: contain;
      flex-direction: column;
      justify-content: flex-start;
      padding: rem(54px) rem(40px);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(190px);
    height: rem(190px);
    color: #fff;
    background: rgba(255, 255, 255, 0.10);
    margin-right: 2px;
    margin-bottom: 2px;
    position: relative;

    @include mobile {
      width: max-content;
      height: max-content;
      margin-right: 0;
      margin-bottom: rem(4px);
      background: none;
      justify-content: flex-start;
      flex-direction: row;
    }

    .arrow {
      position: absolute;
      background-image: url('../../img/rocket-arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      top: rem(12px);
      right: rem(12px);
      width: rem(33px);
      height: rem(33px);
      opacity: 0;

      @include mobile {
        display: none;
      }
    }

    .icon {
      width: rem(38px);
      height: rem(38px);
      background-image: url('../../img/rocket-icon-1.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: rem(14px);

      @include mobile {
        width: rem(24px);
        height: rem(24px);
        margin-bottom: 0;
        margin-right: rem(12px);
      }
    }

    .text {
      font-family: $p-font-SF-medium;
      font-size: rem(26px);

      @include mobile {
        font-size: rem(23px);
      }
    }
  }

  .rain-wrap {
    position: absolute;
    right: rem(20px);
    top: rem(0);

    @include mobile {
      // overflow: hidden;
    }
  }

  .rain-item {
    position: absolute;
    top: 0;

    &._1 {
      right: rem(300px);

      @include mobile {
        right: rem(120px);
      }
    }

    &._3 {
      right: rem(100px);
      @include mobile {
        right: rem(30px);
      }
    }

    &._4 {
      right: rem(400px);

      @include mobile {
        right: rem(70px);
      }
    }

    &._5 {
      right: rem(350px);

      @include mobile {
        right: rem(100px);
      }
    }
  }
}