$p-text: #1B2E3F;

$p-font-regular:  'Gilroy-Regular';
$p-font-medium:  'Gilroy-Medium';
$p-font-black:  'Gilroy-Black';

$p-font-SF-black:  'SF-Black';
$p-font-SF-bold:  'SF-Bold';
$p-font-SF-medium:  'SF-Medium';
$p-font-SF-regular:  'SF-Regular';







